<%
"""
    Template for generating the data model for the visual modelling environment.
    The data model will use the SQLAlchemy library.

"""

from dataclasses import fields
import model_definition as md

def get_type(t):
    if isinstance(t, md.XRef):
        return 'XRef'
    return generator.get_type(t)

def get_sql_type(t):
    tp = {
        'int': 'Integer',
        'str': 'String',
        'datetime': 'DateTime',
        'time': 'Time',
        'float': 'Float',
        'longstr': 'str'
    }.get(t, '')
    return tp or t

%>

from datetime import datetime, time
import json
from enum import IntEnum
from contextlib import contextmanager
import logging
from dataclasses import dataclass, fields, asdict, field, is_dataclass
from sqlalchemy import (create_engine, Column, Integer, String, DateTime,
     ForeignKey, event, Time, Float, LargeBinary)
from sqlalchemy.orm import scoped_session, sessionmaker, backref, relationship
from sqlalchemy.ext.declarative import declarative_base


engine = create_engine("${config.dbase_url}")

Session = sessionmaker(engine)

Model = declarative_base(name='Model')


@contextmanager
def session_context():
  ''' Return an SQLAlchemy session for interacting with the database.
      The session is suitable for use in a 'with' statement such as :

         with wrapper.sessionContext() as session:
            DoSomething(session)

      The session is committed when it goes out of scope, and rolled-back when an exception
      occurs.
  '''
  session = Session()
  try:
    yield session
    session.commit()
  except:
    logging.exception('Exception while interacting with the database')
    session.rollback()
    raise
  finally:
    session.close()



class Version(Model):
    __tablename__ = 'version'
    id = Column(Integer, primary_key = True)
    category =  Column(String)
    versionnr = Column(String)


def init_db():
    Model.metadata.create_all(bind=engine)
    with session_context() as session:
        if session.query(Version).count() < 2:
            session.add(Version(category="generator", versionnr="0.1"))
            session.add(Version(category="model", versionnr=${md.get_version()}))


# ##############################################################################
# # The model contains only a few basic structures, corresponding to the
# # archetypes available in the model definitions.
# #
# # The additional details provided by each subtype are stored in a JSON blob
# # inside the archetype structures. This file provides (de)-serialization.
# #
# # The contents of a diagram are stored in separate structures.


class Block(Model):
    __tablename__ = 'block'

    id = Column(Integer, primary_key=True)
    subtype = Column(String)
    parent = Column(Integer, ForeignKey("block.id"))  # For subblocks and ports
    order = Column(Integer)
    details = Column("details", LargeBinary)

class Relationship(Model):
    __tablename__ = 'relationship'

    id = Column(Integer, primary_key=True)
    subtype = Column(String)
    source_id  = Column(Integer, ForeignKey("block.id"))
    target_id  = Column(Integer, ForeignKey("block.id"))
    associate_id = Column(Integer, ForeignKey("block.id"))
    details = Column("details", LargeBinary)

class Diagram(Model):
    __tablename__ = 'diagram'

    id = Column(Integer, primary_key=True)
    subtype = Column(String)

class BlockRepresentation(Model):
    __tablename__ = 'block_representation'

    id = Column(Integer, primary_key=True)
    diagram = Column(Integer, ForeignKey("diagram.id"))
    block = Column(Integer, ForeignKey("block.id"))
    x = Column(Float)
    y = Column(Float)
    z = Column(Float)   # For placing blocks etc on top of each other
    styling = Column(String)

class RelationshipRepresentation(Model):
    __tablename__ = "relationship_representation"

    id = Column(Integer, primary_key=True)
    diagram = Column(Integer, ForeignKey("diagram.id"))
    relationship = Column(Integer, ForeignKey("relationship.id"))
    routing = Column(LargeBinary)       # JSON list of Co-ordinates of nodes
    z = Column(Float)                   # For ensuring the line goes over the right blocks.
    styling = Column(String)


# ######################################
# # Define a separate table for adding additional structure to the model

class AdditionalHierarchy(Model):
    __tablename__ = "additional_hierarchy"

    id = Column(Integer, primary_key=True)
    entity_table = Column(String)
    entity_id    = Column(Integer)
    parent_table = Column(String)
    parent_id    = Column(Integer)


# ##############################################################################
# # Helper for serializing classes.
# # For deserializing, all elements must consume the json in the constructor.

class ExtendibleJsonEncoder(json.JSONEncoder):
    def default(self, o):
        """ We have three tricks to jsonify objects that are not normally supported by JSON.
            * Dataclass instances are serialised as dicts.
            * For objects that define a __json__ method, that method is called for serialisation.
            * For other objects, the str() protocol is used, i.e. the __str__ method is called.
        """
        if hasattr(o, '__json__'):
            return o.__json__()
        if is_dataclass(o):
            result = asdict(o)
            return result
        return str(o)


# ##############################################################################
# # Custom data classes for handling the custom modelling entities.

@dataclass
class XRef:
    entity_cls: str
    entity_id:  int

    def __init__(self, ref):
        if isinstance(ref, XRef):
            self.entity_cls = ref.entity_cls
            self.entity_id = ref.entity_id
        elif is_dataclass(ref):
            self.entity_cls = type(ref).__name__
            self.entity_id = ref.id

class longstr(str): pass

class AWrapper:
    def store(self):
        data_bytes = json.dumps(self, cls=ExtendibleJsonEncoder)
        table = self.get_db_table()
        # See if there already is a record for this item.
        with db_session() as session:
            if self.id:
                record = session.query(table).filter_by(id=self.id)
                record.details = data_bytes
                self.update(record)
            else:
                session.add(table(self.extract_record_values(), details=data_bytes))

class ABlock(AWrapper):
    def get_db_table(self):
        return Block
    def extract_record_values(self):
        return {
            'subtype': self.__class__.__name__,
            'parent': self.parent if hasattr(self, 'parent') else None,
            'order': self.order
        }

class ARelationship(AWrapper):
    def get_db_table(self):
        return Relationship
    def extract_record_values(self):
        return {
            'subtype': self.__class__.__name__,
            'parent': self.parent if hasattr(self, 'parent') else None,
            'order': self.order
        }

class APort(AWrapper):
    def get_db_table(self):
        return Block   # Ports are stored in the block table.

class ADiagram(AWrapper):
    def get_db_table(self):
        return Diagram

class ALogicalElement(AWrapper):
    def get_db_table(self):
        return AdditionalHierarchy

# Generated dataclasses

% for entity in generator.ordered_items:
<%
    stereotype = 'ABlock' if entity in generator.md.entity else \
                 'ARelationship' if entity in generator.md.relationship else \
                 'APort' if entity in generator.md.port else \
                 'ALogicalElement' if entity in generator.md.logical_model else \
                 'ADiagram'
%>
@dataclass
class ${entity.__name__}(${stereotype}):
    id: int = 0
    % for f in fields(entity):
    ## All elements must have a default value so they can be created from scratch
    ${f.name}: ${get_type(f.type)} = ${generator.get_default(f.type)}
    % endfor

% endfor

if __name__ == '__main__':
    init_db()